* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bee6e6;
}

.container {
  background-color: #c2c8cb;
  margin: auto;
  width: 100vw;
  display: flex;
  border-radius: 5px;
}

.container .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d5f82;
  width: 100%;
}

.container .navbar a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.container .main_section {
  height: 100vh;
}

.container .main_section h1 {
  text-align: center;
  color: black;
}

.container .main_section p {
  color: black;
  font-size: 17px;
  text-align: center;
  padding: 20px 50px 20px 50px;
}

.container .footer {
  background-color: #0d5f82;
  width: 100%;
}

.container .footer a {
  text-decoration: none;
}

.container .footer i {
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}

.container .footer i:hover {
  color: aqua;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    display: flex;
  }
  .container .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
  .container .main_section {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .container .main_section p {
    font-size: 25px;
  }
  .container .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .container {
    display: flex;
  }
  .container .navbar {
    flex-direction: row;
    justify-content: flex-end;
  }
  .container .navbar a {
    padding: 20px;
  }
  .container .main_section {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .container .main_section p {
    font-size: 25px;
  }
  .container .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
  }
}
